header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

@media screen and (min-width: 600px) {
  header {
    justify-content: center;
  }
  header > button, header > a {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

header > button, header > a {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-weight: 700;
  font-size: 20px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

header > button:focus {
  outline: none;
}
