* {
  box-sizing: border-box;
}

:root {
  --header-height: 4rem;
}

body {
  margin: 0;
  background-color: #fff !important;
  scrollbar-width: none; /* hide scrollbar in firefox */
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* pages other than projects are fixed & we flexbox-grow the main div */
.fixedpage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */


/* no scrollbar + white in safari and chrome */
::-webkit-scrollbar { 
  display: none;
  background-color: #fff;
}

/* hide scrollbar in mobile */
::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar {
  background-color: #fff;
  /* background-color: transparent; */
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  /* background-color: transparent; */
}

/* remove btn focus outlines from firefox */
:focus { outline:none; }
::-moz-focus-inner { border:0; }
